.select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8103 9.89844L7.62281 15.7344C7.51734 15.8398 7.37672 15.875 7.27125 15.875C7.13062 15.875 6.99 15.8398 6.88453 15.7344L0.697031 9.89844C0.450937 9.6875 0.450937 9.33594 0.661875 9.08984C0.872812 8.84375 1.22437 8.84375 1.43531 9.05469L6.70875 13.9766V0.722656C6.70875 0.40625 6.95484 0.125 7.23609 0.125C7.51734 0.125 7.83375 0.40625 7.83375 0.722656V13.9766L13.072 9.05469C13.283 8.84375 13.6345 8.84375 13.8455 9.08984C14.0564 9.33594 14.0564 9.6875 13.8103 9.89844Z' fill='black'/%3E%3C/svg%3E%0A")
    97% 50% no-repeat;
}
