.audio-container {
  @apply mx-auto px-mcn-2 3xl:container lg:px-mcn-3;
}

// Default transition
.v-enter-active,
.v-leave-active {
  @apply transition-opacity;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// Default page transition
.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

// Default fade transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
