.mcn-container {
  @apply mx-auto px-mcn-2 3xl:container lg:px-mcn-3;

  // Responsive container margins
  // e.g. mcn-container-mt-sm || mcn-container-mb-lg
  &-my {
    &-sm {
      @apply my-mcn-5 lg:my-mcn-6;
    }

    &-lg {
      @apply my-mcn-6 lg:my-mcn-7;
    }
  }

  &-mt {
    &-sm {
      @apply mt-mcn-5 lg:mt-mcn-6;
    }

    &-lg {
      @apply mt-mcn-6 lg:mt-mcn-7;
    }
  }

  &-mb {
    &-sm {
      @apply mb-mcn-5 lg:mb-mcn-6;
    }

    &-lg {
      @apply mb-mcn-6 first:mb-mcn-5 lg:mb-mcn-7 first:lg:mb-mcn-6;
    }
  }
}

.page {
  // Targets the first child of page components and if the lg responsive container margin is applied, it will override it to sm
  & > .mcn-container {
    // Responsive container margins
    // e.g. mcn-container-mb-lg
    &-my-lg {
      @apply first:mb-mcn-5 first:lg:mb-mcn-6;
    }

    &-mt-lg {
      @apply first:mb-mcn-5 first:lg:mb-mcn-6;
    }

    &-mb-lg {
      @apply first:mb-mcn-5 first:lg:mb-mcn-6;
    }
  }
}

.mcn-line-before {
  @apply before:mr-3 before:inline-block before:content-['—'];
}

.mcn-line-after {
  // apply margin right on lg screens to prevent the — from going into neighboring elements
  @apply lg:mr-[72px];
  //   text-content must be wrapped in a span to allow the — to wrap correctly
  span {
    @apply relative bottom-0 after:absolute after:left-full after:ml-3 after:content-['—'];
  }
}

.mcn-content a {
  @apply underline transition-colors hover:text-mcn-blue;
}

// Used to remove the gap between elements when using flex or grid
.remove-gap {
  &-right {
    width: calc(100% + 32px);
    @apply -mr-mcn-3;
  }

  &-left {
    width: calc(100% + 32px);
    @apply -ml-mcn-3;
  }
}

// Default transition
.v-enter-active,
.v-leave-active {
  @apply transition-opacity;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// Default page transition
.page-enter-active,
.page-leave-active {
  @apply transition-opacity;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

// Default fade transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
